<html>
<head>
	<title>
		Flask
	</title>
  
<body bgcolor="#e8faf4">
	
</head>

	<center><h1><p style="font-family:verdana" > KIIT SGPA Calculator For IT Student (4th Sem)</p></h1></center>
	<br><br><br>

	<center><h2>Enter marks of each subject.<br>
		Out of 100<br><br>
		
	<br><br><br>

	<form action="/sent" method="POST">

		<table>
			
			<tr>
				<td><p style="color:green">AFL : </td>
				<td><input type="number" name="AFL" /></td>
			</tr>
			<tr>
				<td><p style="color:green">COA : </td>
				<td><input type="number" name="COA" /></td>
			</tr>
			<tr>
				<td><p style="color:green">DBMS : </td>
				<td><input type="number" name="DBMS" /></td>
			</tr>
			<tr>
				<td><p style="color:green">OS : </td>
				<td><input type="number" name="OS" /></td>
			</tr>
			<tr>
				<td><p style="color:green">DEC : </td>
				<td><input type="number" name="DEC" /></td>
			</tr>
			<tr>
				<td><p style="color:green">WT : </td>
				<td><input type="number" name="WT" /></td>
			</tr>
			<tr>
				<td><p style="color:green">B_COM : </td>
				<td><input type="number" name="B_COM" /></td>
			</tr>
			<tr>
				<td><p style="color:green">DBMS_LAB : </td>
				<td><input type="number" name="DBMS_LAB" /></td>
			</tr>
			<tr>
				<td><p style="color:green">OS_LAB : </td>
				<td><input type="number" name="OS_LAB" /></td>
			</tr>
			<tr>
				<td><p style="color:green">WT_LAB : </td>
				<td><input type="number" name="WT_LAB" /></td>
			</tr>

		</table>
		<p><input type="submit" value="submit" /></p>
	</form>
</body>
</html>
