<html>
<head>
	<title>
		Flask
	</title>
</head>
<body bgcolor="#00b300">

	
	<center><h1>Hamdan's KIIT SGPA Calculator</h1></center>
	<br><br><br>

	<center><h2>Enter marks of each subject.<br>
		Out of 100<br><br>
		If you wish to ignore any subject for GPA Calculation, Leave it blank.</h2></center>
	<br><br><br>

	<form action="/sent" method="POST">

		<table>
			
			<tr>
				<td>AFL : </td>
				<td><input type="number" name="AFL" /></td>
			</tr>
			<tr>
				<td>COA : </td>
				<td><input type="number" name="COA" /></td>
			</tr>
			<tr>
				<td>DBMS : </td>
				<td><input type="number" name="DBMS" /></td>
			</tr>
			<tr>
				<td>OS : </td>
				<td><input type="number" name="OS" /></td>
			</tr>
			<tr>
				<td>PDC : </td>
				<td><input type="number" name="PDC" /></td>
			</tr>
			<tr>
				<td>WT : </td>
				<td><input type="number" name="WT" /></td>
			</tr>
			<tr>
				<td>B_COM : </td>
				<td><input type="number" name="B_COM" /></td>
			</tr>
			<tr>
				<td>DBMS_LAB : </td>
				<td><input type="number" name="DBMS_LAB" /></td>
			</tr>
			<tr>
				<td>OS_LAB : </td>
				<td><input type="number" name="OS_LAB" /></td>
			</tr>
			<tr>
				<td>WT_LAB : </td>
				<td><input type="number" name="WT_LAB" /></td>
			</tr>

		</table>
		<p><input type="submit" value="submit" /></p>
	</form>
</body>
</html>
